@import '../../styles/function.scss';

.card_item {
	display: flex;
	flex-direction: column;
	padding: 16px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px 0px;
	font-weight: bold;
	gap: 5px;
	* {
		width: 100%;
		padding: 3px 7px;
		border-radius: 4px;
		box-sizing: border-box;
	}
	.title {
		background: #1e7ef6;
		color: white;
	}
	.content {
		background: #f06025;
		@include dotdotdot(13px, 3);
		line-height: 16px;
		width: 100%;
	}
	.schedule {
		background: #3da758;
	}
	.pay {
		border: 1px solid #bdbdbd;
		font-weight: bold;
	}
	.recruit {
		background: black;
		color: white;
	}
}
